<!doctype html>
<html lang=en"">

<head>
  <title>Slot Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/loader.css">
  <link href="css/w3.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">

</head>

<body class="background-color">
  <!-- display container for game -->
  <div id="display" class="hidden" style="" >
    <div id ="top-area" class="w3-col s12 m12 l12 w3-container w3-white">
      <div class="w3-col m3 l4 s3" id="logo-div">
        <img src="img/loadingIcon.png" class="logo"/>
      </div>
      <div class="w3-col m5 l4 s5 w3-container w3-margin-top">
      </div>
      <div class="w3-col m4 l4 s4">
        <p></p>
        <button class="w3-btn w3-padding w3-margin-left w3-border w3-white w3-text-red w3-border-red w3-margin-top w3-left" id="game_mode_btn">Game Mode</button>
      </div>
    </div>
    <div id="game-area" class="w3-container w3-col s12 m8 l8">
      <div id="reel-container" class="w3-container">
        <!--generate reel UI using vue js binding-->
        <div v-for="(reel, index) in reelArray" :id="'reel'+index" class="reel w3-col s4 m4 l4 w3-border-left w3-border-right">
          <img :src="reel[0].imageBase64" :id="'reel'+index+'Symbol0'" class="reel-symbol w3-animate-top">
          <img :src="reel[1].imageBase64" :id="'reel'+index+'Symbol1'" class="reel-symbol">
          <img :src="reel[2].imageBase64" :id="'reel'+index+'Symbol2'" class="reel-symbol">
        </div>
        <div class="win-line blink"></div>
        <div class="win-line-indicator-container">
          <div class="win-line-indicator"></div>
          <div class="win-line-indicator"></div>
          <div class="win-line-indicator"></div>
        </div>
      </div>
      <div id="spin-btn" class="w3-container">
        <button id="spin_btn" class="w3-btn w3-padding w3-large w3-bar spin-btn w3-white w3-text-purple w3-bottombar w3-topbar w3-border-pink w3-hover-purple"><h3>SPIN</h3></button>
      </div>
    </div>
    <div id = "pay-table" class="w3-container w3-white w3-col s12 m4 l4">
      <p class="w3-hide-large w3-hide-medium w3-margin"></p>
      <div class="w3-border">
        <div style="text-align: center;">
          <div class="w3-text-purple"><h3>BALANCE</h3></div>
          <input type="number" id="balanceInput" min="1" max="5000" v-model="balance" @change="enforceBalanceLimit" class="w3-input w3-border-pink w3-center"/>
        </div>
      </div>
      <!-- generate pay table using vue.js binding-->
      <div class="w3-border">
        <h3 class="w3-leftbar w3-border-gray w3-white w3-text-purple w3-center">Pay Table</h3>
        <ul class="w3-ul w3-striped" id="payTableList">
          <li v-for="(combination, index) in winningCombination" :id="'WinningCombination'+index" >
            "{{combination.nOfTimePresent}}" {{combination.symbol.length > 1 ? "combination of" : ""}}
            <b>{{ combination.symbol.toString()}}</b> symbols on {{combination.position}} line
            <b>{{combination.score}}</b>
          </li>
        </ul>
      </div>
    </div>
    <div id="debug_area" class="w3-col s12 m4 l4">
      <div class="w3-right w3-margin">
        <div class="">
          <button id="close_debug_area" class="w3-margin-bottom w3-right w3-button w3-black w3-text-red"><h3>X</h3></button>
          <hr/>
        </div>
        <div id="gameSetToFixedMode" class="w3-container">
          <div class="w3-medium">Current Mode: <b class="w3-text-red">Fixed </b><button class="w3-btn w3-purple" id="switchGameModeRandom">SWITCH</button></div>
          <div id="fixedGameModeContent">
            <form class="w3-form" id="fix_mode_form" onsubmit="e.preventDefault()">
              <div class=""><h3>Reel 1</h3></div>
              <div class="w3-container">
                <div>Symbol:</div>
                <select class="w3-select" required v-model="configuration[0].symbol">
                  <option value="3xBAR">3xBAR</option>
                  <option value="BAR">BAR</option>
                  <option value="2xBAR">2xBAR</option>
                  <option value= "7">7</option>
                  <option value="CHERRY">CHERRY</option>
                </select>
              </div>
              <div class="w3-container">
                <label>Position:</label>
                <select class="w3-select" v-model="configuration[0].position" required>
                  <option value="0">1</option>
                  <option value="1">2</option>
                  <option value="2">3</option>
                </select>
              </div>
              <div class=""><h3>Reel 2</h3></div>
              <div class="w3-container">
                <div>Symbol:</div>
                <select class="w3-select" v-model="configuration[1].symbol" required>
                  <option value="3xBAR">3xBAR</option>
                  <option value="BAR">BAR</option>
                  <option value="2xBAR">2xBAR</option>
                  <option value= "7">7</option>
                  <option value="CHERRY">CHERRY</option>
                </select>
              </div>
              <div class="w3-container">
                <label>Position:</label>
                <select class="w3-select" v-model="configuration[1].position" required>
                  <option value="0">1</option>
                  <option value="1">2</option>
                  <option value="2">3</option>
                </select>
              </div>
              <div class=""><h3>Reel 3</h3></div>
              <div class="w3-container">
                <div>Symbol:</div>
                <select class="w3-select" v-model="configuration[2].symbol" required>
                  <option value="3xBAR">3xBAR</option>
                  <option value="BAR">BAR</option>
                  <option value="2xBAR">2xBAR</option>
                  <option value= "7">7</option>
                  <option value="CHERRY">CHERRY</option>
                </select>
              </div>
              <div class="w3-container">
                <label>Position:</label>
                <select class="w3-select" v-model="configuration[2].position" required>
                  <option value="0">1</option>
                  <option value="1">2</option>
                  <option value="2">3</option>
                </select>
              </div>
              <div class="w3-container">
                <p>Configuration is saved automatically</p>
              </div>
            </form>
          </div>
        </div>
        <div id="gameSetToRandomMode" class="w3-container">
          <div class="w3-medium">Current Mode: <b class="w3-text-red">Random </b><button class="w3-btn w3-purple" id="switchGameModeFixed"><small>SWITCH</small></button></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <!--  loading container -->
  <div id="loadingContainer" style="" class="loadingbar">
    <div id="loadingBar" class="w3-animate-zoom w3-center" style="text-align: center">
      <center>
        <img src="img/loadingIcon.png" id="loadingImg" class="w3-animate-fading">
        <br/>
        <img src="img/loading.gif" id="loadingImg2" class="">
      </center>
    </div>
  </div>
  <!-- disable interaction overlay -->
  <div id="interactableOverlay" style="" class="intractable"></div>

</body>
<footer>
  <script src="js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="js/vendor/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="js/vendor/vue.js"></script>
  <script type="module" src="js/App.js"></script>
</footer>
</html>

